<nav class="navigation">
    <div>
        <a href="/" class="logo-text">GIVEAWAY</a>
    </div>
    <div class="navigation-links">
        <a href="/"">Play Now</a>
        <a href="/closed">Closed</a>
    </div>
</nav>    