<!-- partials/navigation.ejs -->
<div class="nav-container">
    <!-- Site Logo -->
    <a href="/" class="nav-logo">
        <i class="fas fa-gift"></i>
        <span>Free Card Draw</span>
    </a>

    <!-- Hamburger Menu Button (for mobile) -->
    <button id="hamburger-btn" class="hamburger-button" aria-label="Open Menu">
        <i class="fas fa-bars"></i>
    </button>

</div>
